.memberList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.memberList li {
	margin-bottom: 1em;
	width: 100%;
}

@media all and (min-width: 700px) {
	.memberList li {
		width: 50%;
	}
}

.memberList strong {
	font-size: 1.15em;
}
