.title {
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	color: #0055a4;
}

.metaItem {
	display: flex;
	align-items: center;
	color: #20bf55;
	margin-bottom: 0.5em;
	justify-content: center;
}

.metaItem svg {
	margin-right: 0.5em;
}

@media all and (min-width: 900px) {
	.eventRow {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.eventRow > div {
		max-width: 48%;
	}
}

.eventData {
	flex: 1;
	text-align: center;
}

.eventImage {
	flex: 1;
}

.article {
	width: 100%;
}

@media all and (min-width: 600px) {
	.article {
		width: 45%;
	}
}

@media all and (min-width: 900px) {
	.article {
		width: 30%;
	}
}
