.title {
	font-size: 1.5em;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	color: #0055a4;
}

.metaItem {
	display: flex;
	align-items: center;
	color: #20bf55;
	margin-bottom: 0.5em;
	justify-content: center;
}

.metaItem svg {
	margin-right: 0.5em;
}

@media all and (min-width: 900px) {
	.eventRow {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.eventRow > div {
		max-width: 48%;
	}
}

.eventData {
	flex: 1;
	text-align: center;
}

.eventImage {
	flex: 1;
}

.article {
	width: 100%;
}

@media all and (min-width: 600px) {
	.article {
		width: 45%;
	}
}

@media all and (min-width: 900px) {
	.article {
		width: 30%;
	}
}

.dtrRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dtr {
	flex: 1 1 auto;
	box-shadow: 0 1px 2px #0055a433;
	padding: 1em;
	margin-bottom: 1.5em;
	max-width: 100%;
	text-align: center;
	background: #fff;
}

@media all and (min-width: 600px) {
	.dtr {
		max-width: 48%;
	}
}

@media all and (min-width: 900px) {
	.dtr {
		max-width: 32%;
	}
}

.dtrTitle {
	color: #0055a4;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
}

.dtrExtra {
	color: #667;
}
