.featureWrapper {
	width: 100%;
	margin-bottom: 30px;
	width: 30%;
}

.feature {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.feature a {
	justify-self: baseline;
}

@media (max-width: 600px) {
	.featureWrapper {
		width: 100%;
	}
}
