.featureWrapper {
	width: 100%;
	margin-bottom: 30px;
}

.feature {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
}

.feature a {
	justify-self: baseline;
}

@media all and (min-width: 600px) {
	.featureWrapper {
		width: 45%;
	}
}

@media all and (min-width: 900px) {
	.featureWrapper {
		width: 30%;
	}
}
