.hero {
  --hero-height: calc(100vh - 100px);
  position: relative;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 3fr 1fr;
  max-height: var(--hero-height);
  overflow: hidden;
}

.heroPrimarySection {
  z-index: 0;
}

.heroSecondarySection {
  z-index: 1;
}
