ul.hexGrid {
  /* Reset default browser styles */
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.hexGrid {
  box-sizing: border-box;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  margin: calc((-100% / 6) - 14px);
  list-style-type: none;
  overflow: hidden;
  padding-bottom: 7.4%;
}
