.button,
.ghost,
.ghostGreen {
	outline: 0;
	border: none;
	border-radius: 0.5em;
	padding: 0.65em 2em;
	background-color: #20bf55;
	color: #fbfbff;
	font-size: 1em;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.button:hover,
.button:focus {
	background-color: #00ace8;
	text-decoration: none;
}

.button:active {
	background-color: #0055a4;
}

.button-block {
	display: block;
	text-align: center;
}

.ghost,
.ghostGreen {
	border: 2px solid;
	background: transparent;
	color: #0055a4;
	padding: 0.65em 1em;
}

.ghostGreen {
	color: #20bf55;
}
