.mission {
	text-align: center;
	padding: 2.5em 4em;
}

.missionTitle {
	max-width: 650px;
	margin: 0 auto;
}

.missionTitle h2 {
	line-height: 1.25;
}

.missionText {
	font-size: 1.5em;
	font-weight: 300;
}
